.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menubord{
  border: solid;
  margin-top: 2%;
  background-color: black;
  color: white;
  font-size: 68%;
  border-color: royalblue;
  border-radius: 8px;
}

body{
  background-image: url("./components/img/bg-P.jpg");
  background-size: cover;
}

.titreMe{
  color:rgb(33, 37, 41)
}

.popo{
  background-color: darkolivegreen;
}

.imgM{
  border: solid;
  border-color: darkblue;
  border-radius: 8px;
  margin-top: 1%;
}

.imgM2{
  border: solid;
  border-color: darkblue;
  border-radius: 8px;
  margin-top: 1%;
}

.titreMe{
  background-color: green;
  width: 16%;
  margin-left: 42%;
  border-radius: 50px;
  margin-top: 5px;
  color: white;
}

.menubord2{
  border: solid;
  margin-top: 2%;
  margin-left: 100%;
  background-color: black;
  color: white;
  font-size: 85%;
  border-color: royalblue;
  border-radius: 8px;
  width: 100%;
}